<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/favicon.ico">
    <title>Starter Template for Bootstrap</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Custom styles for this template -->
    <link type="text/css" href="/css/starter-template.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet">


    <!--js and css for dropzone-->
    <script src="/js/dropzone.js"></script>
    <link type="text/css" href="/css/dropzone.css" rel="stylesheet">
    <link href="css/basic.css" rel="stylesheet" type="text/css" />
    <script src="/js/drop_zone_options.js"></script>

    <!--js and css for lightbox-->
    <link href="/lightbox2-master/dist/css/lightbox.css" rel="stylesheet">

    <script type="text/javascript">
        var page = 1;
        var aa;
        var noMorePage = false;
        jQuery(document).ready( function($) {

            DisableSubmit()

            $("#fileuploadentry").change(function () {
                if (document.getElementById("fileuploadentry").files.length > 0) {
                    EnableSubmit()
                } else {
                    DisableSubmit()
                }
            });

            aa = $('#streamOwnerTag').attr('class');
            $('#Previous_button').click(function ($) {
                //alert(page)
                if (page == 1) {
                    return
                } else {
                    if(noMorePage){
                        page--;
                    }
                    page--;
                    fetchurls(page);
                }
            })

            $('#Next_button').click(function ($) {
                 //alert(page)
                if (!noMorePage) {
                    page++;
                    fetchurls(page)

                }
            })

            $('#subscribeStream').click(function () {
                var usr = $('#streamUserTag').attr('class');
                var stream_to_sb = $('#streamOwnerTag').attr('class');
                //alert(usr + stream_to_sb);

                var subSInfo = {
                    usr: usr,
                    stream_name: stream_to_sb,
                }

                if ($('#subscribeStream').text() == "Subscribe") {
                    $.ajax({
                        url: '/subScribeme',
                        type: 'post',
                        contentType: "text/plain",
                        data: JSON.stringify(subSInfo)
                    })

                    $( document ).ajaxComplete(function(){
                         $('#subscribeStream').text("Unsubscribe").removeClass('btn btn-success').addClass('btn btn-danger');
                    })
                } else { // it is unsubscribe button
                    $.ajax({
                        url: '/deleteTheStreamISub',
                        type: 'post',
                        contentType: "text/plain",
                        data: JSON.stringify(subSInfo)
                    })

                    $( document ).ajaxComplete(function(){
                         $('#subscribeStream').text("Subscribe").removeClass('btn btn-danger').addClass('btn btn-success');

                    })
                }
            })
        })

        function fetchurls(page) {
            //alert("Page = "+page+" "+aa)
            var urlPattern = "";
            var InfoOfPage = {
                page: page,
                stream_id: aa,
            }

            $.ajax({
                url: '/fetchAnotherSetOfPhotos',
                type: 'post',
                contentType: "text/plain",
                data: JSON.stringify(InfoOfPage)
            });

            $(document).ajaxComplete(function (event, xhr, settings) {
                var urlList = JSON.parse(xhr.responseText)
                var URLlist = urlList["urls"]
                // fetch the blobkeys
                // alert(URLlist)
                var tagslist = ["imageHolder1", "imageHolder2", "imageHolder3"]
                if (URLlist.length == 0) {
                    noMorePage = true;
                    //alert("No more pictures, page= "+page)
                } else {
                    noMorePage = false;
                    var lenOfUrl = URLlist.length
                    for (var i = 0; i < 3; i++) {
                        if (i < lenOfUrl) {
                            replaceURL = URLlist[i]
                            targetURL = $('#' + tagslist[i]).find('div').find('img').attr('src')
                            if (urlPattern == "") {
                                urlPattern = targetURL;
                            }
                            if (targetURL == "") {
                                targetURL = urlPattern;
                            }
                            reURL = targetURL.replace(/([^/]*)$/, replaceURL)
                            // alert("\ntargetURL="+targetURL+"\nreURL="+reURL)
                            $('#' + tagslist[i]).find('div').find('img').attr('src', replaceURL)
                            $('#' + tagslist[i]).find('div').find('a').attr('href', replaceURL)
                        } else {
                            $('#' + tagslist[i]).find('div').find('img').attr('src', "")
                            $('#' + tagslist[i]).find('div').find('a').attr('href', "")
                        }
                    }
                }
            });
        }

        function DisableSubmit() {
            if(document.getElementById("submitbutton")!=null)
                document.getElementById("submitbutton").disabled = true;
        }

        function EnableSubmit() {
            if(document.getElementById("submitbutton")!=null)
                document.getElementById("submitbutton").disabled = false;
        }
    </script>

</head>
<body>
{% extends 'myhtml/myheader.html' %}
{% block navBar %}
<li><a href="/management.html">Manage</a></li>
<li><a href="/myhtml/Create.html">Create</a></li>
<li><a href="/myhtml/View.html">View</a></li>
<li><a href="/myhtml/SearchHome.html">Search</a></li>
<li><a href="/myhtml/Trending.html">Trending</a></li>
<li><a href="/myhtml/Social.html">Social</a></li>
{% endblock %}

{% block myBody%}
<div id="streamOwnerTag" class="{{stream_key}}"></div>
<div id="streamUserTag" class="{{usr}}"></div>
<div class="jumbotron">
    <div class="row">
        {% if haveImage %}

        <div id="imageHolder1">
            {% if imageUrl[0] is defined %}

            <div class="col-sm-6 col-md-4 add-padding">

                <!--<div class="thumbnail">-->

                    <a href="{{imageUrl[0]}}" data-lightbox="image-1"
                       ><img src="{{imageUrl[0]}}" class="img-responsive"
                         data-holder-rendered="true"
                         style="display: block;"></a>

                    <!--<div class="caption">-->
                    <!--<p>in the future we can add comment here</p>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <!--/.col-sm-6.col-md-4-->

            {% else%}
            <div class="col-sm-6 col-md-4"></div>
            {% endif %}
        </div>

        <div id="imageHolder2">

            {% if imageUrl[1] != "" %}

            <div class="col-sm-6 col-md-4 add-padding">

                <!--<div class="thumbnail">-->

                    <!--<img src="{{imageUrl[1]}}" class="img-responsive"-->
                         <!--data-holder-rendered="true"-->
                         <!--style=" display: block;">-->
                    <a href="{{imageUrl[1]}}" data-lightbox="image-1"
                       ><img src="{{imageUrl[1]}}" class="img-responsive"
                         data-holder-rendered="true"
                         style="display: block;"></a>
                <!--</div>-->
            </div>
            <!--/.col-sm-6.col-md-4-->

            {% else%}
            <div class="col-sm-6 col-md-4"></div>
            {% endif %}
        </div>

        <div id="imageHolder3">
            {% if imageUrl[2] != "" %}
            <div class="col-sm-6 col-md-4 add-padding">

                <!--<div class="thumbnail">-->

                    <!--<img src="{{imageUrl[2]}}" class="img-responsive"-->
                         <!--data-holder-rendered="true"-->
                         <!--style="display: block;">-->
                    <a href="{{imageUrl[2]}}" data-lightbox="image-1"
                       ><img src="{{imageUrl[2]}}" class="img-responsive"
                         data-holder-rendered="true"
                         style="display: block;"></a>
                    <!--<div class="caption">-->
                    <!--<p>in the future we can add comment here</p>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <!--/.col-sm-6.col-md-4-->

            {% else%}
            <div class="col-sm-6 col-md-4"></div>
            {% endif %}

        </div>
        {% else %}
        <div class="col-sm-6 col-md-4"><img src="/img/empty-image-placeholder.png" class="img-responsive"></div>
        {% endif %}
    </div>
    <nav>
        <ul class="pager">
            <li id="Previous_button"><a href="#">Previous</a></li>
            <li id="Next_button"><a href="#">Next</a></li>
            <li><a href="/geoViewRequest?Stream_id={{stream_key}}">GeoView</a></li>
        </ul>
    </nav>
</div>

<!--<script src="/js/drop_zone_options.js"></script>-->
{% if owner == usr %}
<form action="{{blobstore_url}}" class = "dropzone" id="my-drop-zone" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="stream_key" value="{{stream_key}}">

    <!--<input type="file hidden" name="files[]" id="fileuploadentry" multiple>-->
    <!--<textarea class="form-control" rows="3" placeholder="write a comment(Optional)" name="usrcomments"></textarea>-->
    <!--<input type="submit" name="submit" id="submitbutton" class="btn btn-lg btn-primary">Choose a File to submit-->
</form>

<button id="submit-all" class="btn btn-primary start">
    <i class="glyphicon glyphicon-upload"></i>
    <span>Start upload</span>
</button>
<button id="clear-dropzone" class="btn btn-warning cancel">
    <i class="glyphicon glyphicon-ban-circle"></i>
    <span>Cancel upload</span>
</button>

     <!--<button type="reset" class="btn btn-warning cancel">-->
            <!--<i class="glyphicon glyphicon-ban-circle"></i>-->
            <!--<span>Cancel upload</span>-->
        <!--</button>-->
<!--<button type="submit" class="btn btn-primary start">-->
                    <!--<i class="glyphicon glyphicon-upload"></i>-->
                    <!--<span>Start upload</span>-->
                <!--</button>-->
{% elif IsubThisStream%}
<button type="button" class="btn btn-danger" id="subscribeStream">Unsubscribe</button>
{% else %}
<button type="button" class="btn btn-success" id="subscribeStream">Subscribe</button>
{% endif %}
<script src="/lightbox2-master/dist/js/lightbox.js"></script>
    <script>
    lightbox.option({
      'resizeDuration': 200,
      'wrapAround': true
    })
    </script>
</body>
{% endblock %}
</html>