<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Management</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/carousel.css" rel="stylesheet">
    <link href="/css/pop-up.css" rel="stylesheet">
    <link href="/css/personal_info.css" rel="stylesheet">

    <link href="https://cdn.jotfor.ms/static/formCss.css?3.3.9893" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.9893" />
    <link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.9893" />
<style>
    .badge {
                background: -webkit-gradient(
              radial, 500 25%, 20, 500 25%, 40, from(red), to(red)
            );
                    margin-top: 16px;
            }

    #overlay{
                   text-align:center;
                   opacity:0;
                   -webkit-transition: opacity .25s ease;
                    -moz-transition: opacity .25s ease;
            }
</style>
</head>


<body>
<!--POPUP FORM-->
 <div id="blanket" style="display:none;" class="supernova"></div>
 <div id="popUpDiv" style="display:none; overflow: auto" >
    <a href="#" onclick="popup('popUpDiv')" style="padding-top: 0px; color: #c9302c">Close</a>
    <form class="jotform-form" name="personal_info_form" id="personal_info_form" accept-charset="utf-8" style="padding-top: 10px">
      <div class="form-all">
        <ul class="form-section page-section">
          <li id="cid_5" class="form-input-wide" data-type="control_head">
            <div class="form-header-group">
              <div class="header-text httac htvam">
                <h1 id="header_5" class="form-header">
                  Personal Information
                </h1>
                <div id="subHeader_5" class="form-subHeader">
                  Please provide as much information as possible
                </div>
              </div>
            </div>
          </li>

          <!-- Name -->
          <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_3">
            <label class="form-label form-label-top" id="label_3" for="name_input">
              Name
              <span class="form-required">
                *
              </span>
            </label>
            <div id="cid_3" class="form-input-wide jf-required">
              {% if usr_has_info%}
                <input type="text" class=" form-textbox validate[required]" data-type="input-textbox" id="name_input" name="name_input" size="20" value="{{usr_name}}" />
              {% else %}
                <input type="text" class=" form-textbox validate[required]" data-type="input-textbox" id="name_input" name="name_input" size="20" value="" />
              {% endif %}
            </div>
          </li>

          <!-- Gender -->
         <li class="form-line jf-required" data-type="control_radio" id="id_18">
            <label class="form-label form-label-top form-label-auto" id="label_18">
              Gender
              <span class="form-required">
                *
              </span>
            </label>
            <div id="cid_18" class="form-input-wide jf-required">
              <div class="form-single-column">
                {% if usr_has_info%}
                  {% if usr_gender == "Male"%}
                     <span class="form-radio-item" style="clear:left;">
                      <span class="dragger-item">
                      </span>
                      <input type="radio" class="form-radio validate[required]" id="gender_input" name="gender_input" value="Male" checked/>
                      <label id="label_input_18_0" for="gender_input"> Male </label>
                    </span>
                    <span class="form-radio-item" style="clear:left;">
                      <span class="dragger-item">
                      </span>
                      <input type="radio" class="form-radio validate[required]" id="gender_input_2" name="gender_input" value="Female" />
                      <label id="label_input_18_1" for="gender_input_2"> Female </label>
                    </span>
                  {% else %}
                    <span class="form-radio-item" style="clear:left;">
                      <span class="dragger-item">
                      </span>
                      <input type="radio" class="form-radio validate[required]" id="gender_input" name="gender_input" value="Male"/>
                      <label id="label_input_18_0" for="gender_input"> Male </label>
                    </span>
                    <span class="form-radio-item" style="clear:left;">
                      <span class="dragger-item">
                      </span>
                      <input type="radio" class="form-radio validate[required]" id="gender_input_2" name="gender_input" value="Female" checked />
                      <label id="label_input_18_1" for="gender_input_2"> Female </label>
                    </span>
                  {% endif %}
                {% else %}
                <span class="form-radio-item" style="clear:left;">
                  <span class="dragger-item">
                  </span>
                  <input type="radio" class="form-radio validate[required]" id="gender_input" name="gender_input" value="Male" checked/>
                  <label id="label_input_18_0" for="gender_input"> Male </label>
                </span>
                <span class="form-radio-item" style="clear:left;">
                  <span class="dragger-item">
                  </span>
                  <input type="radio" class="form-radio validate[required]" id="gender_input_2" name="gender_input" value="Female" />
                  <label id="label_input_18_1" for="gender_input_2"> Female </label>
                </span>
                {% endif %}
              </div>
            </div>
          </li>

          <!-- Age -->
          <li class="form-line form-line-column form-col-4 jf-required" data-type="control_textbox" id="id_17">
            <label class="form-label form-label-top" id="label_17" for="age_input">
              Age
              <span class="form-required">
                *
              </span>
            </label>
            <div id="cid_17" class="form-input-wide jf-required">
              {% if usr_has_info %}
              <input type="text" class=" form-textbox validate[required]" data-type="input-textbox" id="age_input" name="age_input" size="20" value="{{usr_age}}" />
              {% else %}
              <input type="text" class=" form-textbox validate[required]" data-type="input-textbox" id="age_input" name="age_input" size="20" value="" />
              {% endif %}
            </div>
          </li>

          <!-- School -->
          <li class="form-line jf-required" data-type="control_textbox" id="id_14">
            <label class="form-label form-label-top form-label-auto" id="label_14" for="school_input">
              School I am Going
              <span class="form-required">
                *
              </span>
            </label>
            <div id="cid_14" class="form-input-wide jf-required">
              {% if usr_has_info%}
              <input type="text" class=" form-textbox validate[required]" data-type="input-textbox" id="school_input" name="school_input" size="20" value="{{usr_school}}" />
              {% else %}
              <input type="text" class=" form-textbox validate[required]" data-type="input-textbox" id="school_input" name="school_input" size="20" value="" />
              {% endif %}
            </div>
          </li>

          <!-- Majar -->
          <li class="form-line form-line-column form-col-1 jf-required" data-type="control_textbox" id="id_16">
            <label class="form-label form-label-top" id="label_16" for="major_input">
              Majar
              <span class="form-required">
                *
              </span>
            </label>
            <div id="cid_16" class="form-input-wide jf-required">
              {% if usr_has_info%}
              <input type="text" class=" form-textbox validate[required]" data-type="input-textbox" id="major_input" name="major_input" size="20" value="{{usr_major}}" />
              {% else %}
              <input type="text" class=" form-textbox validate[required]" data-type="input-textbox" id="major_input" name="major_input" size="20" value="" />
              {% endif %}
            </div>
          </li>

          <!-- Email input -->
          <li class="form-line jf-required" data-type="control_email" id="id_4">
            <label class="form-label form-label-top form-label-auto" id="label_4" for="email_input">
              Email
              <span class="form-required">
                *
              </span>
            </label>
            <div id="cid_4" class="form-input-wide jf-required">
              {% if usr_has_info%}
              <input type="email" class=" form-textbox validate[required, Email]" id="email_input" name="email_input" size="30" value="{{usr_email}}" />
              {% else %}
              <input type="email" class=" form-textbox validate[required, Email]" id="email_input" name="email_input" size="30" value="" />
              {% endif %}
            </div>
          </li>

          <!-- Phone input-->
          <li class="form-line" data-type="control_phone" id="id_6">
            <label class="form-label form-label-top form-label-auto" id="label_6"> Phone Number </label>
            <div id="cid_6" class="form-input-wide jf-required">
              {% if usr_has_info%}
               <span class="form-sub-label-container" style="vertical-align: top">
                <input class="form-textbox" type="tel" name="phone_area_input" id="phone_input_area" size="3" value="{{usr_phone_area}}">
                <span class="phone-separate">
                  &nbsp;-
                </span>
                <label class="form-sub-label" for="phone_input_area" id="sublabel_area" style="min-height: 13px;"> Area Code </label>
              </span>
              <span class="form-sub-label-container" style="vertical-align: top">
                <input class="form-textbox" type="tel" name="phone_notarea_input" id="phone_input_phone" size="8" value="{{usr_phone_notarea}}">
                <label class="form-sub-label" for="phone_input_phone" id="sublabel_phone" style="min-height: 13px;"> Phone Number </label>
              </span>
              {% else %}
              <span class="form-sub-label-container" style="vertical-align: top">
                <input class="form-textbox" type="tel" name="phone_area_input" id="phone_input_area" size="3">
                <span class="phone-separate">
                  &nbsp;-
                </span>
                <label class="form-sub-label" for="phone_input_area" id="sublabel_area" style="min-height: 13px;"> Area Code </label>
              </span>
              <span class="form-sub-label-container" style="vertical-align: top">
                <input class="form-textbox" type="tel" name="phone_notarea_input" id="phone_input_phone" size="8">
                <label class="form-sub-label" for="phone_input_phone" id="sublabel_phone" style="min-height: 13px;"> Phone Number </label>
              </span>
              {% endif %}
            </div>
          </li>

          <!-- Submit button-->
          <li class="form-line" data-type="control_button" id="id_2">
            <div id="cid_2" class="form-input-wide">
              <div style="margin-left:156px" class="form-buttons-wrapper">
                <button id="personal_info_submit_button" type="submit" class="form-submit-button">
                  Submit
                </button>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </form>

 </div>
<!-- / POPUP-->

 <div class="navbar-wrapper">
      <div class="container">
          <nav class="navbar navbar-inverse navbar-static-top">
              <div class="container">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">PERFECT roommate</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="/management">Home</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lookaround <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="JavaScript:centeredPopup(1);">About</a>
                            <li><a href="JavaScript:centeredPopup(2);">Help</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="JavaScript:centeredPopup(3);">Report an Issue</a></li>
                          </ul>
                        </li>

                      </ul>
                      <ul class="nav navbar-nav pull-right">
                        <li><a href="/chatroom" id="chatroomenter">Message
                            <div id="overlay">
                                <span id="incomingchat"><img src="/img/mail-message-new_in_navbar.png"></span>
                            </div>
                        </a></li>
                        <li><a href="/matchmanagement">Matches</a></li>
                        <li> <div class="badge" id="match_found_number">1</div></li>
                        <li><a href="{{ logout_url }}"><button type="button" class="btn btn-danger">Logout</button></a></li>
                      </ul>
                    </div>
              </div>
          </nav>
      </div>
 </div>

<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval = "">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="/img/happystudents.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>This really helps!</h1>
              <p>Set up your personal information here and start the tour.</p>
                <p id="slide_1_button_action">
                {% if usr_has_info %}
                    <a class="btn btn-lg btn-primary btn-success" href="#" role="button" onclick="popup('popUpDiv')">Change My Info</a>
                {% else %}
                    <a class="btn btn-lg btn-primary btn-success" href="#" role="button" onclick="popup('popUpDiv')">Join us NOW</a>
                {% endif %}
                </p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="/img/students_studying.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>That is what I want</h1>
              <p>Once set up your personal information, you can start out cook up your preference list</p>
              {% if usr_has_info%}
               <p><a class="btn btn-lg btn-primary" id="set_pref_button" name="set_pref_button" role="button" href="/my_pref_setting">Set My Preferences</a></p>
              {% else %}
               <p><a class="btn btn-lg btn-primary disabled" id="set_pref_button" name="set_pref_button" role="button" href="/my_pref_setting">Set My Preferences</a></p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="/img/roommates.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Let me find OUT</h1>
              <p>Choose from the suggested list by our app, and find out your roommates right away</p>
              <p><a class="btn btn-lg btn-primary" href="/potentialroommate_management" role="button">My potential roommates</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/pop-up.js"></script>

    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
    <script>
        var usr = '{{usr}}';
        var socket;

        open_The_Chat_Chaneel = function () {
           var dataString = 'client_ID='+ usr+"management_page";
             $.ajax({
                   type: "GET",
                   url: "/get_chat_channel_token",
                   data: dataString,
                   success: function (text) {
                       //alert(text);
                       var channel = new goog.appengine.Channel(text);
                       socket = channel.open();
                       socket.onopen = onOpened;
                       socket.onmessage = onMessage;
                       socket.onerror = function() {socket = channel.open();}; // if error occurs try again, because the logic should be OK
                       socket.onclose = function(){socket = channel.open();};
                   },
                   error: function () {
                       alert("Can't open chat channel");
                   }
               })
        };

        sendMessage = function(path, opt_param) {
          path += '?client_ID=' + usr;
          if (opt_param) {
            path += '&' + opt_param;
          }
          var xhr = new XMLHttpRequest();
          xhr.open('POST', path, true);
          xhr.send();
        };

        onOpened = function() {
             //alert("Normal Channel Opened!");
             sendMessage('/opened_from_management');
         };

        onMessage = function(m) {
            //alert("Message received");
            newMessage = JSON.parse(m.data);
            var msg_type = newMessage["message_type"]
            if(msg_type == "chatroom"){
                //alert("Message from chat server received");
                var from_account = newMessage["new_message_from"];
                $('#overlay').css({ opacity: 1 });
            }

            if(msg_type == "newmatchnotification"){
               var num_of_new_matches = newMessage["num_of_matches"];

                var number_item = $('#match_found_number');
                if( num_of_new_matches > 0){
                  number_item.show();
                  number_item.html(num_of_new_matches);
                }
            }
          };

        jQuery(document).ready( function($) {
            $('#match_found_number').hide();
            open_The_Chat_Chaneel();
            check_unread_message();

            $("#chatroomenter").click(function () {
                $('#overlay').css({ opacity: 0 });
            });

            $("#personal_info_form").submit( function(e){
                e.preventDefault();
                var name_input = $("#name_input").val();
                var email_input = $("#email_input").val();
                var gender_input = $('input[name="gender_input"]:checked').val();
                var age_input = $("#age_input").val();
                var school_input = $("#school_input").val();
                var major_input = $("#major_input").val();
                var phone_input_area = $("#phone_input_area").val();
                var phone_input_phone = $("#phone_input_phone").val();
                var dataString = 'name_input='+ name_input + '&email_input=' + email_input + '&gender_input=' + gender_input
                        + '&age_input=' + age_input + '&school_input=' + school_input + '&major_input=' + major_input
                        + '&phone_area_input=' + phone_input_area + '&phone_notarea_input=' + phone_input_phone;
                  //alert (dataString);return false;
                  $.ajax({
                    type: "POST",
                    url: "/personal_info_handler",
                    data: dataString,
                    success: function() {
                      $('#slide_1_button_action').find('a').html('Change My Info');
                      $("#set_pref_button").removeClass('disabled');
                      popup('popUpDiv')
                    },
                    error: function(){
                      alert("Failed");
                      popup('popUpDiv')
                    }
                  });
            });
            return false;
        });

        $( window ).unload(function() {
          alert("window closed");
          socket.close();
        });

        function check_unread_message(){
            var datastring = 'client_ID='+usr;
            $.ajax({
                   type: "GET",
                   url: "/check_unread_message",
                   data: datastring,
                   success: function (text) {
                       text = text.toString();
                       if(text == 'True'){
                           $('#overlay').css({ opacity: 1 });
                       }
                   },
                   error: function () {
                       alert("Failed to retrive data");
                   }
               })
        }


        function centeredPopup(url_num){
            var w = 300;
            var h = 400;
            switch(url_num){
                case 1:
                    url = "/popup_about";
                    break;
                case 2:
                    url = "/popup_help";
                    break;
                case 3:
                    url = "/popup_report_issue";
                    break;
            }
            LeftPosition = (screen.width) ? (screen.width-w)/2 : 0;
            TopPosition = (screen.height) ? (screen.height-h)/2 : 0;
            settings =
            'height='+h+',width='+w+',top='+TopPosition+',left='+LeftPosition+',scrollbars=yes,resizable'
            popupWindow = window.open(url,'popUpWindow',settings)
        }

    </script>
</body>
</html>