<div class="row" style="margin-left: 0">
    <div>
        <h1 style="display: inline">Connex.us     <small>{{ usr }}</small></h1>
    </div >
    <div>
        <a href="{{ logout_url }}"><button type="button" class="btn btn-danger">Logout</button></a>
    </div>
</div>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% block navBar%}
            <li class="active"><a href="/management.html">Manage</a></li>
            <li><a href="/myhtml/Create.html">Create</a></li>
            <li><a href="/myhtml/View.html">View</a></li>
            <li><a href="/myhtml/SearchHome.html">Search</a></li>
            <li><a href="/myhtml/Trending.html">Trending</a></li>
            <li><a href="/myhtml/Social.html">Social</a></li>
            {% endblock %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    {% block myBody %}
    {% endblock %}
    {% block myfooter %}
    {% endblock%}

